#outer{
text-align:center;
}

#header {
display: inline-block;
}

h3 {
color: white;

}

body{
background-color: black;
}

a {
text-decoration: none;
color: white;
}

a:hover {
text-decoration:none;
}

form {
color: white;
text-align: center;
}


#outerfoot {
text-align: center;

}
#footer {
position: absolute;
bottom: 0;
color: white;
display: inline-block
}

